.Button {
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  background-color: #fcd619;
  color: #212529;
  font-weight: bold;
}

.Button:hover {
  border-color: rgb(212, 145, 19);
  border-width: 2px;
  cursor: pointer;
  background-color: #fcd619;
}

/* overriding default button behaviour */
.Button:hover:active {
  background-color: #fcd619 !important;
}

.Button:active,
.Button:focus {
  background-color: #fcd619;
}

/* boosting bottom padding on wide button for text to appear centered */
.Wide {
  padding: 10px 10px 13px;
  width: 100%;
}
