.Commenter {
    font-weight: bold;
    color: #fcd619;
    margin-right: 8px;
  }
 
  .ModifiedDate {
    font-weight: 200;
    color: #f2f2f7;
  }

  /* enables comment placement if string has no spaces, while not pushing dropdown out of element */
  .CommentDisplay {
    width: 94%;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .MediaBody {
    width: 85%;
  }

