.NavBar {
  border: 1px solid #d9d9dd;
}

.NavLink {
  padding: 8px 5px;
  color: #f8f8f8;
}

/* navbar hover for icons + text */
.NavLink:hover,
.NavLink:hover * {
  color: #fcd619;
  transition: color ease-in-out 1s;
}

.Active, .Active * {
  color: #fcd619;
}

.Brand {
    padding: 5px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    color: #f8f8f8;
}

.NavLinkOffset {
  margin-top: 12px;
}

@media (max-width: 767px) { 
    /* adjusts padding for dropdown */
    .NavLink {
        padding: 5px;
      }
}