.Post {
  background-color: #212529;
  border-radius: 5%;
  margin: 3px 0;
}

.PostHeader {
  font-weight: 900;
  margin-bottom: 16px;
  color: #f8f8f8;
}

.PostText {
  color: #f8f8f8;
  margin: 5px;
}

.IconText {
  color: #fcd619;
  margin: 5px;
}

.Category {
  color: #fcd619;
  border: 1px solid #fcd619;
  background-color: #4c5053;
  font-weight: 900;
  padding: 5px;
  margin: 15px 2px 2px;
  text-align: left;
}

.PostImage {
  padding: 10px 50px;
  /* object fit will make sure avatar fits the container */
  object-fit: contain;
}

/* tbd */
.Post figure,
h5 {
  margin: 0 0;
}

/* tbd */
i {
  color: #f8f8f8;
  font-size: 1.2rem;
  padding-right: 7px;
}

i:hover {
  cursor: pointer;
  color: #fcd619;
}

/* tbd */
.Heart {
  color: #fcd619;
}

/* tbd */
.Heart:hover {
  color: #4c5053;
}

/* tbd */
.HeartOutline:hover {
  color: #fcd619;
}

/* adds spacing between {modified} and dropdown */
.HeaderContent {
  margin-left: 5px;
}