.Post {
  background-color: #212529;;
  border-radius: 5%;
  margin: 3px 0;
}

.ProfilePost {
  background-color: #2e343a;
  border-radius: 5%;
  margin: 3px 0;
}

.PostHeader {
  font-weight: 900;
  margin-bottom: 16px;
  color: #f8f8f8;
}

.PostText, .PostNotLiked, .CommentIcon, .PostNotSaved {
  color: #f8f8f8;
  margin: 5px;
}

.IconText, .PostLiked, .PostSaved {
  color: #fcd619;
    margin: 5px;
}

i:hover {
  cursor: pointer;
  color: #fcd619;
}


.Category {
  color: #fcd619;
  font-weight: 900;
  padding: 5px;
  margin: 15px 2px 2px;
  text-align: left;
}

.PostImage {
  padding: 10px 50px;
  /* ensuring avatar fits the container */
  object-fit: contain;
}

.OwnerLinkIcon {
  color: #5f5f72;
}